@use "../../base/variables.scss" as *;

.catalog {
    margin: 0 auto;
    padding: 40px 0 80px;

    @media (min-width: 768px) {
        max-width: 720px;
    }

    @media (min-width: 1200px) {
        max-width: 1140px;
    }

    @media (min-width: 1920px) {
        max-width: 1440px;
    }

    &__filters {
        display: inline-flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 50px;
        border: 1px solid $dark;
    }

    &__filter {
        padding: 10px 20px;
        background: none;
        border: none;
        font-size: 20px;
        text-transform: uppercase;
        cursor: pointer;
        transition: all 0.2s ease-in-out;


        &.active {
            background-color: $ceramic;
            border-color: $ceramic;
            color: white;
            text-decoration: underline;
        }

        &:hover:not(.active) {
            background-color: #0000003d;

        }
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        margin: 0 auto;

        @media (min-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                top: -10px;
                left: -10px;
                width: 1px;
                height: 225px;
                background-color: $dark;
            }

            &::after {
                content: '';
                position: absolute;
                top: -10px;
                left: -10px;
                width: 225px;
                height: 1px;
                background-color: $dark;
            }
        }

        @media (min-width: 1200px) {
            grid-template-columns: repeat(3, 1fr);
            gap: 40px;
            width: 1190px;
            padding: 25px;
        }

        @media (min-width: 1920px) {
            grid-template-columns: repeat(4, 1fr);
            width: 1490px;
            padding: 25px;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        border: 1px solid $dark;
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);

        img {
            width: 100%;
            height: auto;
            aspect-ratio: 16 / 9;
            object-fit: cover;
        }
    }

    &__info {
        padding: 10px;

        h3 {
            margin: 5px 0;
        }

        p {
            margin-bottom: 5px;
        }
    }
}

.loading,
.error {
    grid-column: 1 / -1;
    padding: 50px;
    font-size: 20px;
    color: $dark;
    text-align: center;
}