@use "../base/variables.scss" as *;

.footer {
    background-color: $dark;
    color: $light;
    padding: 50px 24px;

    &__title {
        font-weight: 500;
        margin-bottom: 40px;
        text-transform: uppercase;
    }

    &__description {
        margin-bottom: 40px;
    }

    &__newsletter-form {
        .field__email {
            width: 293px;
            height: 32px;
            margin-bottom: 30px;

            input {
                width: 100%;
                padding: 10px 0;
                background: none;
                border: none;
                border-bottom: 1px solid $ui-active;
                color: $ui-active;

                &:invalid {
                    color: $ui-error;
                    border-bottom-color: $ui-error;
                }
            }
        }

        .footer__checkbox-group {
            display: flex;
            align-items: center;
            margin-bottom: 25px;

            input {
                width: 15px;
                height: 15px;
                margin-right: 10px;
                background-color: transparent;
                accent-color: $terms;
            }

            a {
                color: $terms;
                text-decoration: none;
                transition: color 0.3s;

                &:hover {
                    color: $light;
                }
            }
        }

        .footer__btn {
            margin-bottom: 30px;
            padding: 12px 20px;
            background: none;
            border: 1px solid $light;
            border-radius: 2px;
            color: $light;
            text-transform: uppercase;
            cursor: pointer;
            transition: background-color 0.3s, border-color 0.3s;

            &:hover {
                background-color: $terms;
                border-color: $terms;
            }
        }
    }

    &__links-social-group {
        display: grid;
    }

    &__link-list {
        list-style: none;
        padding: 0;
        margin: 10px 0 30px;

        li {
            margin-bottom: 15px;
        }

        a {
            color: $ui-active;
            text-decoration: none;
            transition: color 0.3s;

            &:hover {
                color: $terms;
            }
        }
    }

    .social-links {
        display: flex;
        gap: 15px;
    }

    &__copyright {
        text-align: center;
        font-size: 0.8rem;
        padding-top: 20px;
        border-top: 1px solid $light;
    }

    @media (380px <=width < 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__links-social-group {
            width: 212px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 30px;
            grid-template-areas:
                "discover shopping"
                "information information"
                "follow-us follow-us";
        }

        &__discover {
            grid-area: discover;
        }

        &__shopping {
            grid-area: shopping;
        }

        &__information {
            grid-area: information;
        }

        &__follow-us {
            grid-area: follow-us;
        }

        .social-links {
            margin-top: 0;
        }

        &__copyright {
            width: 100%;
        }
    }

    @media (min-width: 768px) {
        padding: 40px 40px 30px;

        &__content {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 0.5fr;
            gap: 40px 50px;
            grid-template-areas:
                "newsletter"
                "links-social-group";
        }

        &__links-social-group {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 30px;
            grid-template-areas: "discover shopping information follow-us";
        }

        &__newsletter {
            grid-area: newsletter;
        }

        &__discover {
            grid-area: discover;
        }

        &__shopping {
            grid-area: shopping;
        }

        &__information {
            grid-area: information;
        }

        &__follow-us {
            grid-area: follow-us;
        }

        .social-links {
            margin-top: 0;
        }
    }

    @media (min-width: 1200px) {
        padding: 60px 100px 40px;

        &__content {
            grid-template-columns: 2fr repeat(4, 1fr);
            grid-template-rows: 1fr;
            gap: 60px 40px;
            grid-template-areas: "newsletter discover shopping information follow-us";
            max-width: 1400px;
            margin: 0 auto 40px;
        }

        &__links-social-group {
            display: contents;
        }
    }
}
