@use "../base/variables.scss" as *;

.header {
	display: flex;
	flex-direction: column;
	padding-top: 50px;

	&__top {
		display: flex;
		justify-content: space-between;
		position: relative;
	}

	&__logo {
		width: 100px;
		height: 100px;
	}

	&__icons {
		display: flex;
		gap: 15px;

		a {
			display: block;
			color: $dark;

			span {
				display: block;
				width: 20px;
				height: 20px;
				font-size: 20px;
			}
		}
	}

	@media (min-width: 768px) {
		align-items: center;

		&__top {
			width: 100%;
			position: relative;
			justify-content: center;
		}

		&__icons {
			position: absolute;
			right: 0;
		}
	}

	@media (min-width: 1200px) {
		&__icons {
			right: 3%;
		}
	}

	@media (min-width: 1920px) {
		&__logo {
			width: 150px;
			height: 151px;
		}

		&__icons {
			right: 12%;
		}
	}
}

.burger {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	height: 23px;
	padding-right: 35px;
	cursor: pointer;
	z-index: 1001;

	span {
		display: block;
		width: 20px;
		height: 1px;
		background-color: $dark;
		transition: all 0.3s ease;
	}

	&--active {
		span:nth-child(1) {
			transform: rotate(45deg) translate(9px, 6px);
		}

		span:nth-child(2) {
			opacity: 0;
		}

		span:nth-child(3) {
			transform: rotate(-45deg) translate(9px, -7px);
		}
	}
}
