@use "../../base/variables.scss" as *;

.promo {
	&__title {
		margin-block-start: 50px;
		padding-inline: 5px;
	}

	&__img-potter {
		display: none;
	}

	&__img-ceramic-vase {
		width: 270px;
		height: 377px;
		margin: 40px auto 0;
		box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
	}

	&__btn {
		margin: 18px auto 0;
		transition: background-color 0.5s, color 0.5s;

		a {
			padding: 14px 59px;
			color: $dark;
			text-decoration: none;

			&:hover {
				color: $light;
			}
		}

		&:hover {
			background-color: $ceramic;
		}
	}

	@media (min-width: 768px) {
		position: relative;
		display: grid;
		grid-template-columns: 2fr 1fr;
		gap: 20px;

		&__title {
			width: 70%;
			margin: 0 auto;
			padding-bottom: 80px;
			align-self: end;
			text-align: left;
		}

		&__img-ceramic-vase,
		&__btn {
			grid-column: 2;
			animation: slideInFromRight 1.5s ease-in-out forwards;
		}

		&__img-ceramic-vase {
			width: 230px;
			height: 321px;
		}
	}

	@media (min-width: 1200px) {
		display: grid;
		grid-template-columns: 1.5fr 2fr 1fr;

		&__img-potter {
			display: block;
			position: absolute;
			top: -230px;
			left: -20px;
			width: 450px;
			height: 633px;
			z-index: 1000;
		}

		&__title {
			grid-column: 2;
			width: 70%;
			margin: 0 0 0 auto;
			padding-bottom: 80px;
			align-self: end;
			text-align: left;
		}

		&__img-ceramic-vase,
		&__btn {
			grid-column: 3;
		}

		&__img-ceramic-vase {
			width: 230px;
			height: 321px;
		}
	}

	@media (min-width: 1920px) {
		display: grid;
		grid-template-columns: 1.5fr 2fr 1.5fr;

		&__img-potter {
			top: -280px;
			left: -20px;
			width: 640px;
			height: 900px;
		}

		&__title {
			grid-column: 2;
			width: 70%;
			padding-bottom: 100px;
			font-size: 32px;
		}

		&__img-ceramic-vase,
		&__btn {
			grid-column: 3;
			width: 330px;
			margin: 40px 0 0;
		}

		&__img-ceramic-vase {
			height: 460px;
		}

		&__btn {
			height: 60px;
		}
	}
}

@keyframes slideInFromRight {
	0% {
		transform: translateX(50vw);
	}

	100% {
		transform: translateX(0);
	}
}
