@use "/src/sass/libs/modern-normalize.min.css";
@use "/src/sass/libs/fontello.css";
@use "/src/sass/base/basic.scss";

@use "/src/sass/blocks/header.scss";
@use "/src/sass/blocks/nav.scss";
@use "/src/sass/blocks/footer.scss";

@use "/src/sass/ui/titles.scss";
@use "/src/sass/ui/buttons.scss";

@use "/src/sass/blocks/index/promo.scss";
@use "/src/sass/blocks/index/active.scss";
@use "/src/sass/blocks/contact.scss";
@use "/src/sass/blocks/index/works.scss";
