@use "../base/mixins.scss" as *;

.title-h1-italic {
	@include title;
	font-size: 24px;
	font-style: italic;
}

.title-h2-italic {
	@include title;
	font-size: 32px;
	margin-bottom: 40px;
	
	@media (min-width:768px) {
		font-size: 36px;
	}

	@media (min-width:1200px) {
		font-size: 40px;
	}
}
