@use "../../base/variables.scss" as *;

.articles {
    padding: 0 20px 80px;

    &__title {
        margin-block-start: 50px;
    }

    &__grid {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        gap: 50px;

        @media (min-width: 768px) {
            display: grid;
            grid-template-columns: 1fr;
            gap: 60px;
            padding: 10px;
            position: relative;
            max-width: 720px;

            &::before {
                content: '';
                position: absolute;
                top: -10px;
                left: -10px;
                width: 1px;
                height: 225px;
                background-color: $dark;
            }

            &::after {
                content: '';
                position: absolute;
                top: -10px;
                left: -10px;
                width: 225px;
                height: 1px;
                background-color: $dark;
            }
        }

        @media (min-width: 1200px) {
            grid-template-columns: repeat(2, 1fr);
            max-width: 1190px;
            margin: 0 auto;
            padding: 25px;
            gap: 60px;
        }

        @media (min-width: 1920px) {
            max-width: 1490px;
            padding: 25px;
            gap: 80px;
        }
    }
}

.article {
    &__card {
        border: 1px solid $dark;
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
        overflow: hidden;
        display: flex;
        flex-direction: column;

        &--image {
            width: 100%;
            height: auto;
            object-fit: cover;
        }

        &--content {
            padding: 20px;
        }

        &--category {
            font-size: 24px;
            font-weight: 500;
            text-transform: uppercase;
            margin-bottom: 15px;
        }

        &--btn {
            transition: background-color 0.5s, color 0.5s;
            width: 145px;
            height: 32px;
            font-size: 14px;
            margin-bottom: 15px;

            a {
                padding: 6px 17px;
                color: $dark;
                text-decoration: none;
                display: block;
            }

            &:hover {
                background-color: $ultra-dark;

                a {
                    color: $light;
                }
            }
        }

        @media (min-width: 768px) {
            display: grid;
            grid-template-columns: 335px 1fr;
            grid-template-rows: 192px 32px 1fr;
            grid-template-areas:
                "image category"
                "image btn"
                "content content";
            gap: 15px;

            &--image {
                grid-area: image;
                width: 335px;
                height: 240px;
                object-fit: cover;
            }

            &--category {
                grid-area: category;
                margin-top: 30px;
                margin-left: 10px;
            }

            &--btn {
                grid-area: btn;
                margin-top: 0;
            }

            &--text {
                grid-area: content;
                margin: 0 20px 20px 20px;
            }

            &--content {
                display: contents;
            }
        }
    }
}

.loading,
.error {
    grid-column: 1 / -1;
    padding: 50px;
    font-size: 20px;
    color: $dark;
    text-align: center;
}