.info {
    padding: 0 0 60px;

    &__title {
        margin-top: 40px;
    }

    &__wrapper {
        margin: 0 auto;

        &--img {
            margin: 0 auto 40px;
            box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
            object-fit: contain;
        }

        @media (min-width:780px) {
            padding: 0 20px 20px;
            max-width: 720px;
        }

        @media (min-width: 1200px) {
            padding: 0 0px 0px;
            max-width: 1140px;

            display: grid;
            grid-template-columns: 550px 1fr;
            gap: 20px;
        }

        @media (min-width: 1920px) {
            padding: 0px 0px 20px;
            max-width: 1440px;
            display: grid;
            grid-template-columns: 700px 1fr;

            &--text {
                font-size: 20px;
            }
        }
    }
}
